:root {
    --bg-black: #050505;
    --bg-dark-grey: #0f0f0f;
    --primary-green: #52f3a4;
    --text-white: #ffffff;
    --text-muted: #a0a0a0;
    --font-main: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background-color: var(--bg-black);
    color: var(--text-white);
    overflow-x: hidden;
}

/* global components & buttons */
a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 28px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn i {
    background: #000;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
}

.btn-outline {
    border: 2px solid var(--primary-green);
    color: var(--text-white);
}

.btn-outline i {
    background: var(--primary-green);
    color: #000;
}

.btn-outline:hover {
    background: var(--primary-green);
    color: #000;
}

