:root {
    --bg-black: #050505;
    --bg-dark-grey: #0f0f0f;
    --primary-green: #52f3a4;
    --text-white: #ffffff;
    --text-muted: #a0a0a0;
    --font-main: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background-color: var(--bg-black);
    color: var(--text-white);
    overflow-x: hidden;
}

/* global components & buttons */
a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 28px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn i {
    background: #000;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
}

.btn-outline {
    border: 2px solid var(--primary-green);
    color: var(--text-white);
}

.btn-outline i {
    background: var(--primary-green);
    color: #000;
}

.btn-outline:hover {
    background: var(--primary-green);
    color: #000;
}

/* sidebar socials */
.sidebar {
    position: fixed;
    right: 30px;
    top: 35%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 100;
}

.social-icon {
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--text-muted);
    transition: 0.3s;
}

.social-icon:hover, .social-icon.active-social {
    background-color: var(--primary-green);
    color: #000;
    border-color: var(--primary-green);
}

/* navigations bar & dropdown logic */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
    background-color: var(--bg-black);
    position: relative;
    z-index: 50;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    background-color: var(--primary-green);
    color: #000;
    padding: 8px;
    border-radius: 50%;
    font-size: 18px;
}

.logo-text {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links > li {
    position: relative;
    padding: 10px 0;
}

.nav-links a {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-white);
    transition: 0.3s;
}

.nav-links > li > a:hover, .nav-links a.active {
    color: var(--primary-green);
}

.nav-links a.active {
    background: rgba(82,243,164, 0.15);
    padding: 8px 18px;
    border-radius: 20px;
}